html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.footerDivOne {
  width: 40%;
  color: white;
}

* {
  box-sizing: border-box;
}
@media screen and (max-width: 700px) {
  .layOutFooter {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .layOutFooter > div {
    width: 100%;
  }
}
@media screen and (max-width: 672px) {
  .childCatogaryDiv {
    width: 100%;
  }
}